/* src/App.css */
.App {
  text-align: center;
  margin-top: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

/* Estilos para la lista de tareas */
ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

li.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

input[type="text"] {
    padding: 8px;
    margin-right: 5px;
    width: 300px;
}

input[type="date"] {
    padding: 8px;
    margin-right: 5px;
}

button.add-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

button.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
}

button.toggle-complete-button {
    background-color: #008CBA;
    color: white;
    border: none;
}